[run]
branch = True
parallel = True
disable_warnings = no-data-collected
source =
    keecrypt
    tests
omit =
    keecrypt/gui/ui/*
    keecrypt/gui/resources/*

[report]
exclude_lines = 
    if __name__ == '__main__':

